frontend localhost
    # Only bind on 80 if you also want to listen for connections on 80
    bind *:80
    option tcplog
    mode tcp
    default_backend nodes

backend nodes
    mode tcp
    balance roundrobin
    # Add an entry for each of your backend servers and their resolvable hostnames
    server webserver1 ${IP_DEST} check